.linkedin_page, .twitter_page {
    max-width: 60rem;
    margin: 5em auto;
    padding: 2rem;
    @media (max-width: 599px) {
      margin: 3em auto;
    }

    .form-control {
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
    
    .input-group-text {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .text-linkedin {
      color: $linkedin_theme_color;
    }

   .text-twitter {
      color: $twitter_theme_color;
    }
}

@import "./list";

